.button {
    border: none;
    width: 100%;
    border-radius: 4px;
    padding: 10px;
    border: 1px solid #664de5;
}

.primary {
    background: #664de5;
    color: #e9e9e9;
}

.secondary {
    background: #ffff;
    color: #664de5;
}
